/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  /* instead of setting this border-box setting on all elements here(*), you should define this in html so that you can use inherit in * (here) for all elements to inherit from html */
  box-sizing: inherit;
}

html {
  // good practice to set it here and then all elements will inherit this as and when they load (defined in *{} above)
  box-sizing: border-box;
  //it should be in % rather than px so that user can change it in the browser when zooms in or out. Default is 16px but we need a % equal to 10px which is 10/16 which is 62.5%
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%. 16px is the browser default. Taking it as 10px as base font-size makes it easy for our calculation
}

body {
  // Open Sans coming from google fonts
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
