.container {
  max-width: 120rem; // our container can decrease in size if we don't have 120rem to display. In that case, it fits the screen 100% vw
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  //box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); // setting large blur of 6rem for shadow to stand out
  box-shadow: var(--shadow-dark);
  //min-height for testing
  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
}
.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // setting up flex-basis (width of the sidebar)
  flex: 0 0 18%; // flex : grow shrink flex-basis
}

.hotel-view {
  background-color: #fff;
  background-color: orangered;
  // flex-basis: 100% is same as flex-grow : 1  is same as width : 100% I believe
  flex: 1; // setting flex-grow to 1. This means, saying it to occupy entire remaining space of content;
  //Note: You can certainly use width  on a flex item; however, it is considered best practice to use the flex  property since we are sizing flex elements.
}
